name: API Automation CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch: # Allows manual run

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Static Code Analysis (Checkstyle)
        run: mvn checkstyle:check

      - name: Cache Dependency Check data
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository/org/owasp/dependency-check-data
          key: ${{ runner.os }}-dependency-check-v1
          restore-keys: |
            ${{ runner.os }}-dependency-check-

      - name: Purge Dependency Check (Fix Corrupted DB)
        run: mvn org.owasp:dependency-check-maven:12.2.0:purge

      - name: Build and Dependency Check
        run: >
          mvn org.owasp:dependency-check-maven:12.2.0:check
          -DfailOnError=false
          -DdataDirectory=~/.m2/repository/org/owasp/dependency-check-data

      - name: Execute Tests
        # We use -Dbase.url to demonstrate Senior level parametrization
        run: mvn clean test -Dbase.url=https://fakerestapi.azurewebsites.net
        continue-on-error: true

      - name: Load Allure History
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: target/allure-results
          allure_history: allure-history
          keep_reports: 20

      - name: Deploy Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
          force_orphan: true # Add this line